

<div class="card" style="width: 18rem;">
    <img src="../../../assets/Logo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Innovation and Entrepreneurship</h5>
      <p class="card-text">Join us to connect with the Program Manager of the HEC Paris MSc Innovation and Entrepreneurship at the webinar on May 23, 2024 for a deeper look into the student experience at the program.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>